@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=0nknC9ziJOYewAFKl87YXQmLwpuS4WnSQGlRI94o&skey=5906924f6c9ed948&v=v10) format('woff2');
}